* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-weight: 500;
  font-style: Medium;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {

    .title {
      font-size: 20px;
      color: #F9F4DA;
    }

    .instructions {
      font-size: 14px;
      color: #8E8E8E;
      max-width: 350px;
    }
  }

  .status {
    color: #F9F4DA;
    width: 352px;
    height: 59px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .status-line-1 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    .status-line-2 {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      margin-top: 0.5rem;
    }
  }

  .chip-box {
    max-width: 266px;
    height: auto;
    gap: 1.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;

    .chip {
      border-radius: 3px;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      text-align: center;
      padding: 4.5px;
      position: relative;
    }

    .lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  }

  .word-box {
    gap: 2px;
    display: flex;
    margin-top: 1.5rem;

    .letter {
      display: flex;
      height: 40px;
      width: 40px;
      background-color: #323232;
      padding: 6px;
      border-bottom: 1px solid #F9F4DA;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-style: Bold;
      font-size: 18px;
    }

    .missed {
      color: #EC5D49;
    }
  }

  .keyboard {
    max-width: 480px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;

    .key {
      display: flex;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      border: 1px solid #D7D7D7;
      border-radius: 4px;
      background-color: #FCBA29;
      color: #1E1E1E;
      font-weight: 600;
      font-size: 16px;
      font-family: "Hanken Grotesk", Arial, sans-serif;
      cursor: pointer;
    }

    button.key:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

    .correct {
      background-color: #10A95B;
    }

    .incorrect {
      background-color: #EC5D49;
    }
  }

  .new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    margin-top: 36px;
    color: #1E1E1E;
    font-weight: 600;
    font-size: 16px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
  }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}